body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.textbox {
    width:600px;
    height:50px;
}

.outputbox {
    width: 600px;
    height:200px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightblue;
    font-size: 16px;
    overflow-y: scroll;
}
.instructions {
    font-size: 12px;
    height: 120px;
    border-style: inset;
    overflow-y: scroll;
}

textarea {
    font-family:  'Helvetica';
    font-size: 14px;
}

.scrollvert {
    overflow-y:scroll;
    overflow-x:none;
}

.error {
    color:red;
}

.app {

}

.button-spacing{
    padding-right:10px;
}


.bottom-spacing {
    padding-bottom:10px;
}

.title{
    text-align:center;
    font-size: 30px;
    font-family: 'Helvetica Nue';
    padding-bottom: 15px;
}